/* --- Gaya Umum --- */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
    background: #fafafa;
    color: #333;
}

body {
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    background: #ffcffd;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 1.5em;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

nav ul li a.active {
    text-decoration: underline;
}

/* Main content */
main {
    flex: 1; /* bikin main mengisi ruang yang tersisa */
    padding: 40px 20px;
    max-width: 800px;
    margin: 20px auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

section {
    display: none;
}

section.active {
    display: block;
}

section img {
    display: block;
    margin: 20px auto;
}

h1, h2 {
    color: #321935;
    text-align: center;
}

ul {
    padding-left: 20px;
}

/* Footer */
footer {
    background: #fac0ff;
    color: white;
    padding: 10px 0;
    text-align: center;
}


